<!DOCTYPE html>
{% load static %}
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% if title %}
        <title>BetterDeal App - {{ title }}</title>
    {% else %}
        <title>BetterDeal App</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!--Header-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggel="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'app-home' %}">BetterDeal</a>
            </div>

            <!--Items-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" style="float: right">
                    {% block nav %}{% endblock nav%}
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

</body>

<script>
    function increaseButtonClick(id) 
    {
        var id=id.toString()
        var new_value=document.getElementById(id).value
        new_value=parseInt(new_value) + 1;
        document.getElementById(id).value= new_value.toString()
    }
    function decreaseButtonClick(id) 
    {
        var id=id.toString()
        var new_value=document.getElementById(id).value
        new_value=parseInt(new_value) - 1;
        if (new_value > 0)
        {
            document.getElementById(id).value= new_value.toString();
        }
    }
</script>
</html>