{% extends "app/base.html" %}


{% block content %}
{% load static %}

<h2 class="cart-title" style="text-align: center">Cart</h2>

<div style="text-align: center"><img src="{% static 'app/undraw_empty_cart_co35.png' %}" height="300" alt="My image" style="text-align: center"></div>

{% for supermarket in supermarkets %}

<div name={{supermarket}}>

  <h3>
    {{supermarket}}
  </h3>

  <div class="container">
    {% for product in cart %}
    {% if product.0.supermarket == supermarket %}
        <div class="col-md-6">
          <table class="my_table">
            <tr>
              <td height="100" width="100"><img src="/static/{{ product.0.supermarket}}-images/{{ product.0.image_name }}" alt="My image" height="100"/> <br></td>
              <td>
                <span>{{ product.0.product_name }}</span><br>
                <img src="/static/{{ product.0.supermarket}}-images/{{ product.0.supermarket}}.png" alt="My image" height="15"/>
                {{ product.1 }}
                 <br>
                {{ product.0.price }} Ft <br>
                <form action="{% url 'removecart' %}" method="POST"> 
                  {% csrf_token %}
                  <button type="sumbit"  >Remove from Cart</button>
                  <input name="RemoveButton" class="my_green_button" type="hidden" value={{ product.0.id }} >
                  <input name="quantity" ,type="text", id="{{ product.0.id }}", size=2 value="1">
                  <button type="button" , onclick="increaseButtonClick( {{ product.0.id }} )" >+</button>
                  <button type="button" , onclick="decreaseButtonClick( {{ product.0.id }} )" >-</button>
                </form>
              </td>
            </tr>
          </table>  
        </div>
    {% endif %}
    {% endfor %}
    <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
          </span>
        </h4>
        {% for product in cart %}
          {% if product.supermarket == supermarket %}
            <p><span class="price">{{ product.price }}</span></p>
            {% endif %}
        {% endfor %} 
        <h4>
          <p><span class="price">{{ sum }}</span></p>
        </h4> 
      </div>
    </div>  
  </div>
</div>
    
{% endfor %}

{% endblock content %}

{%block nav%}
    

  <li class="navlink-active navlink">
    <a href="{% url 'cart' %}" style="background-color: burlywood; font-family: lucida console;">Cart</a>
  </li>
  <li class="navlink">
    <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
  </li>
  <li class="navlink">
        <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>

{% endblock nav %}