{% extends "app/base.html" %}

{% block content %}
{% load static %}

<h2 class="cart-title" style="text-align: center">Cart</h2>

<div style="text-align: center"><img src="{% static 'app/undraw_empty_cart_co35.png' %}" height="300" alt="My image" style="text-align: center"></div>

{% for supermarket in supermarkets %}

<div name={{supermarket}}>

  <h3>
    {{supermarket}}
  </h3>

  <div class="container">
    {% for product  in cart %}
    {% if product.supermarket == supermarket %}
        <div class="col-md-6">
          <table class="my_table">
            <tr>
              <td height="100" width="100"><img src="/static/{{ product.supermarket}}-images/{{ product.image_name }}" alt="My image" height="100"/> <br></td>
              <td>
                <span>{{ product.product_name }}</span><br>
                <img src="/static/{{ product.supermarket}}-images/{{ product.supermarket}}.png" alt="My image" height="15"/> <br>
                {{ product.price }} Ft <br>
                <form action="{% url 'removecart' %}" method="POST"> 
                  {% csrf_token %}
                  <button name="RemoveButton" type="sumbit" value={{ product.id }} >Remove from Cart</button>
                </form>
              </td>
            </tr>
          </table>  
        </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
    
{% endfor %}

{% endblock content %}

{%block nav%}
    

  <li class="navlink-active navlink">
    <a href="{% url 'cart' %}" style="background-color: burlywood; font-family: lucida console;">Cart</a>
  </li>
  <li class="navlink">
    <a href="{% url 'search' %}" style="font-family: lucida console; color: burlywood">Search</a>
  </li>
  <li class="navlink">
        <a href="{% url 'logout' %}" style="font-family: lucida console; color: burlywood">Logout</a>
  </li>

{% endblock nav %}